* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --secondary-color: #ffb900;
    --text-color: #5f5b53;
    --font-heading: Sen, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.heading {
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
    border-radius: 999px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

/* Header */

.header {
    background-color: #fffcf4;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
}

.nav li.active a::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 6px;
    left: 21px;
}

.nav ul a {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
    position: relative;
}

.header .action {
    margin-left: 49px;
}

.sign-up-btn {
    min-width: 144px;
}

.sign-up-btn:hover {
    opacity: 0.9;
}

/* Hero */

.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
    /* align-items: center; */
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    padding: 24px;
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px #0000000d;
    border-radius: 12px;
    position: absolute;
    right: 0;
    bottom: 48px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    background-color: #fff9e8;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero-summary .info .title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .heading {
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.content-block .desc {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 22px;
}

.cta-groups {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.cta-groups .hero-cta {
    background-color: var(--secondary-color);
    min-width: 180px;
    line-height: 64px;
}
.cta-groups .hero-cta:hover {
    opacity: 0.9;
}

.cta-groups .watch-video {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 28px;
    cursor: pointer;
}

.cta-groups .watch-video .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.cta-groups .watch-video span {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 16px;
}

.content-block .desc.stat {
    margin: 8px 0 0 -28px;
}

.content-block .desc.stat strong {
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    padding: 0 8px 0 28px;
}

/* Popular */

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    width: 458px;
    margin-top: 16px;
}

.popular-top .control {
    display: flex;
}

.popular-top .control-btn {
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-top .control-btn + .control-btn {
    margin-left: 18px;
}

.popular-top .control-btn:hover {
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .foot,
.popular .info .rating,
.popular .info .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .info .title a {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    padding-right: 6px;
}

.popular .info .rating span {
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 6px;
}

.popular .course-item .desc {
    margin-top: 6px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.popular .foot {
    margin-top: 12px;
}

.popular .foot .price {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .book-btn:hover {
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
}

/* Feedback */

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .name {
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
    margin-top: 18px;
}

.feedback-item .desc {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    margin-top: 4px;
}

.feedback-item .dots {
    margin-top: 28px;
    display: flex;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
    cursor: pointer;
}

.feedback-item .dot + .dot {
    margin-left: 6px;
}

.feedback-item .dot.active {
    background-color: var(--secondary-color);
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
    margin-left: 30px;
}

/* Features */

.features {
    padding: 65px 0;
    margin-top: 135px;
}

.features .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images .img {
    height: 404px;
    width: 270px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images .img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
}

.features .desc {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 16px;
}

.features .cta-btn {
    min-width: 137px;
    background-color: var(--secondary-color);
    margin-top: 32px;
}

.features .cta-btn:hover {
    opacity: 0.9;
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images .img {
    width: 470px;
    height: 440px;
}

/* Blog */

.blog {
    padding: 96px;
    margin-top: 135px;
    background-color: #fffcf4;
}

.blog-top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-top .desc {
    margin-top: 16px;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    width: 448px;
}
